.DS_Store
.classpath
tpch/
.project
.settings/
build.properties
build/*
.externalToolBuilders/
bin/
target/
.gradle/
libs/
*.iml
*.ipr
/out
/*.iws


#except docs
!build/docs
#but in docs, ignore everything
build/docs/*
# except javadoc
!build/docs/javadoc
!build/docs/javadoc/*
